/* Genel stiller */
.heading h2 {
    padding-top: 60px;
    font-size: 3rem;
}

.content p {
    line-height: 22px;
    font-size: 1.3rem;
    padding: 10px 15px;
}

.about-image,
.about .container {
    width: 100%;
    margin-right: 0;
}

.about-image {
    margin: 20px 0 40px;
    display: flex;
    justify-content: center;
}

.service h3 {
    margin: 15px 0;
}

.service p {
    padding: 2px 30px 15px;
}

.footer .icon {
    margin: 1px;
}

/* Mobil cihazlar için medya sorgusu (320px - 480px) */
@media (min-width: 320px) and (max-width: 480px) {
    .menu {
        display: none;
    }

    .second_logo {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 70%;
        margin: 7px 0 0 -70px;
        float: left;
    }

    .main-content h2 {
        font-size: 2rem;
    }

    .main-content .btn {
        font-size: 1.5rem;
        width: auto;
    }

    .service {
        width: auto;
        height: auto;
    }

    .about {
        flex-direction: column-reverse;
        align-items: center;
        padding: 0;
        text-align: justify;
    }

    .about-image img {
        max-width: 80%;
        height: auto;
        border-radius: 10px;
        margin: 0 auto;
    }
}

/* Tablet cihazlar için medya sorgusu (481px - 768px) */
@media (min-width: 481px) and (max-width: 768px) {
    .img {
        width: 25vh;
    }

    .first_logo {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin: 18px 0 0 -40px;
        float: left;
        text-align: left;
    }

    .navbar a {
        font-weight: 600;
        font-size: 1rem;
        padding: 25px 30px;
        margin-right: -45px;
        text-align: right;
    }

    .main-content h2 {
        font-size: 2.5rem;
    }

    .main-content .btn {
        font-size: 1.8rem;
        width: auto;
    }

    .service {
        width: 50vh;
        height: auto;
    }

    .about {
        flex-direction: column-reverse;
        align-items: center;
        padding: 0;
        text-align: justify;
    }

    .about-image img {
        max-width: 80%;
        height: auto;
        border-radius: 10px;
        margin: 0 auto;
    }
}

/* Orta boy ekranlar için medya sorgusu (768px - 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
    .img {
        width: 16vh;
    }

    .first_logo {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin: 25px 0 0 -20px;
        float: left;
        text-align: left;
    }

    .navbar a {
        font-weight: 700;
        font-size: 1.5rem;
        padding: 25px 30px;
        margin-right: -45px;
        text-align: right;
    }

    .main-content h2 {
        font-size: 2.5rem;
    }

    .main-content .btn {
        font-size: 1.8rem;
        width: auto;
    }

    .about {
        align-items: center;
        padding: 5px 15px;
        text-align: justify;
    }

    .about-image img {
        max-width: 80%;
        height: auto;
        border-radius: 10px;
        margin: 0 auto;
    }

    .service {
        width: 50vh;
        height: auto;
    }
}

/* Geniş ekranlar için medya sorgusu (1025px - 1439px) */
@media (min-width: 1025px) and (max-width: 1439px) {
    .img {
        width: 24vh;
    }

    .first_logo {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin: 25px 0 0 -20px;
        float: left;
        text-align: left;
    }

    .about-image,
    .about .container {
        width: 100%;
        margin-right: 5%;
    }
}

/* Çok geniş ekranlar için medya sorgusu (1440px ve üstü) */
@media (min-width: 1440px) {
    .navbar a {
        font-weight: 700;
        font-size: 1.6rem;
    }

    .heading h2 {
        font-size: 4rem;
        margin-top: -55px;
    }

    .content p {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 32px;
        color: #666;
        margin-top: 2px;
        word-spacing: 0.1em;
    }

    .about-image {
        flex: 1;
        margin-right: 30px;
    }

    .about-image img {
        max-width: 60%;
        height: auto;
        border-radius: 10px;
        margin-left: 20%;
    }

    .about .container {
        max-width: 40%;
        margin-right: 10%;
    }

    .service {
        height: 35vh;
        width: 50vh;
    }
}

/* Ultra geniş ekranlar için medya sorgusu (2000px ve üstü) */
@media (min-width: 2000px) {
    .main-content h2 {
        font-size: 5rem;
    }

    .btn {
        font-size: 2.7rem;
        padding: 23px 48px;
    }

    .heading h2 {
        font-size: 6rem;
        margin-top: -55px;
    }

    .content p {
        font-size: 2rem;
        font-weight: 400;
        line-height: 32px;
        color: #666;
        margin-top: 2px;
        word-spacing: 0.2em;
    }

    .service {
        height: 25vh;
        width: 50vh;
    }
}
